<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="customConfig"
      type="XmlParserConsole.CustomSection, XmlParserConsole"
    />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 
  <customConfig path="D:/NET/_.NET/Lab4/XmlParserConsole/xml/xml" xpath="docID" threadCount="10">

  </customConfig>
</configuration>